* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: #0a0a0a;
  color: #e0e0e0;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

@media (max-width: 768px) {
  body {
    overflow: visible;
    height: auto;
  }

  html {
    height: auto;
  }
}

:root {
  --color-bg-darkest: #08090b;
  --color-bg-darker: #0d0e11;
  --color-bg-dark: #181a1f;
  --color-bg-medium: #23252c;
  --color-bg-divider: #2e3139;
  --color-bg-border: #3e4149;
  --color-bg-hover: #4e5159;
  --color-bg-subtle: #5e6169;

  --color-text-white: #edf0f5;
  --color-text-primary: #d5dbe3;
  --color-text-secondary: #bdc6d1;
  --color-text-tertiary: #a5b1bf;
  --color-text-muted: #8d9cad;
}
